
body{
    background: url(https://wallpaperaccess.com/full/1181260.jpg);
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px auto;
}
header{
    color: white;
    background-color: black;
    margin: auto;
    height: 100px;
    align-items: center;

}
.cuerpo{
    text-align: center;
    color: white;
    background: rgb(174, 174, 174, 0.5);
}
footer{
    text-align: center;

}
