
body{
    background: url(https://wallpaperaccess.com/full/1181260.jpg);
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px auto;
}
header{
    color: white;
    background-color: black;
    height: 100px;
}
header h1{
    padding: 25px 0 0 25px;
}
.cuerpo{
    text-align: center;
    color: white;
    background: rgb(174, 174, 174, 0.5);
    height: 85vh;
}
.formulario{
    text-align: center;
    color: white;
    background: rgb(174, 174, 174, 0.5);
    height: 100vh;
}
form{
    height: 450px;
    width: 600px;
    
    background: rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    border-radius: 30px;
    border: solid white;
}
input{
    width: 300px;
}
footer{
    padding: 10px;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 31%,rgb(174, 174, 174, 0.5));
    color: white;
    height: 100px;
}
h3{
    text-shadow: 0px 3px 5px black;
}
i{
    box-shadow: 0px -3px 5px black;
}